# Akamai Technical Academy Capstone Project

#### This is an extension of the bash program for the team project. We are instructed to find all users online and offline at one time. We are advised to user SHell scripting and Python.  Testing and exploration will be done here, rather than the command line  in order to preserve the process. Mara Worle, lead architect 4/27/16

In [1]:
import os,re
import numpy
import pandas as pd

In [ ]:
os.getcwd()

In [3]:
os.system("w | awk '/mragy/ {print $1;}'")

In [ ]:
string = raw_input("Please enter the system information: \n")

In [27]:
 info = string.split(",")

Now its time to set up the python enviroment on my system.
That means creating a new virtualenv bubble.
$ mkdir <newproject>
$ cd <newproject>
$ virtualenv venv 
  # get installation notice here
$ . venv/bin/activate 
  # once the venv is activated look for 
  # (venv)path $ 
  # type away
$ deactivate
  # when done

In [35]:
os.system("/home/mragy/AkamaiAcademy/project/virtualenv --version")

32512

In [19]:
info= raw_input("Please enter the information: ")
info.split(" ")

Please enter the information: mragy,:0

['mragy,:0']

In [26]:
for i in info:
    if re.match('^[a-zA-Z0-9_-]{3,15}$',i):
        string = "w | awk \'/%s/ {print \'%s is online.\';}\' > /home/mragy/AkamaiAcademy/project/online" %(name, name)    
        online = os.system(string)

In [6]:
os.listdir('/home/mragy/AkamaiAcademy/project/')

['docs',
 'check_status.py',
 'online',
 'check_sys.sh',
 'shared_functions.py',
 '.ipynb_checkpoints',
 'data',
 'diff_file',
 'venv',
 'DTH_Network.ipynb']

In [8]:
os.system("cat online") 
# in iPython Notebook this will print to the console
# assigning os.system() to a variable still prints to the console

In [28]:
# try putting all the valid information in an array of arrays
# compare to dictionary
valid_array = []
names=['one','two','three']
uids=['mguser1','mguser2','mguser3','mguser4']
terms=['tty1','tty2']
ips=[]
valid_array.append(names)

In [29]:
valid_array.append(uids)

In [30]:
valid_array.append(terms)
valid_array.append(ips)

In [31]:
# if i want to get mguser2
valid_array[1][1]

'mguser2'

In [32]:
len(valid_array)

4

In [33]:
len(valid_array[3])

0

In [34]:
# now try a dictionary and choose the best datatype
valid_dict = {}
valid_dict['names']= names
valid_dict.update({'uids':uids})
valid_dict['terms']=terms
valid_dict['ips']=ips

In [35]:
# to access mguser2
valid_dict["uids"][1]

'mguser2'

I think this is more intuitive. Then we can access the type of data and compare repetitions.

In [36]:
valid_dict['names'].append('four')
valid_dict['names']

['one', 'two', 'three', 'four']

In [2]:
data = os.system("cat data.dat")

In [3]:
data

256

## Graphs 
Moving to graphing portion of the project. THe required search for online and offline users has been completed using shell scripting. gnuPlot would be another way to go with the graphing. hOwever, I'd like to bring in python to the project since the client suggested it.

In [1]:
import pandas as pd

In [4]:
last=pd.read_csv("/home/mragy/AkamaiAcademy/project/last_sq.txt", sep="\n", index_col=None)

In [50]:
last[:1]

  mragy pts/1 :0 Tue May 3 18:02 still logged in
0    mragy :0 :0 Tue May 3 17:58 still logged in

In [59]:
# read the entire dataframe into one string
# then split according to line break or \n
last_arr=last.to_string(index=False).split('\n')
x=last_arr.__getitem__(1)
x.split(" ")

['',
 '',
 '',
 '',
 '',
 'mragy',
 ':0',
 ':0',
 'Tue',
 'May',
 '3',
 '17:58',
 'still',
 'logged',
 'in',
 '']

In [81]:
data=[]
for i in range(len(last_arr)):
    x=last_arr.__getitem__(i)
    data.append(x.split(" "))

In [82]:
data[1][5]

'mragy'

In [83]:
len(data)

17

In [84]:
# list comprehensions 
# https://docs.python.org/2/tutorial/datastructures.html#list-comprehensions
# squares = [x**2 for x in range(10)]
x= [data[i][1] for i in range(len(data))]
print(x)

['pts/1', '', 'system', '', '', 'system', '', '', '', 'system', '', '', 'system', 'mragy', '', 'system', '']

In [97]:
print(data[10][12])

In [24]:
# dir(x)

## Starting over
cleaning and munging the file in bash
used sed

In [6]:
import pandas as pd
import numpy as np

file=pd.read_csv("/home/mragy/AkamaiAcademy/project/data/data.dat", sep=",", index_col=None)

In [7]:
# read the entire dataframe into one string
# then split according to line break or \n
string_file=file.to_string(index=False).split('\n')
#temp=string_file.__getitem__(1)
#temp.split(" ")

In [8]:
arr=[]
for i in range(len(string_file)):
    x=string_file.__getitem__(i)
    arr.append(x.split(" "))

In [9]:
arr[0][9]

'00.00'

In [16]:
#sum=0
#for i in range(len(arr)):
#    print(arr[i][9])
    #sum += int(arr[i][9])*(5/3)
#print(sum)

In [105]:
# put the array row in a dictionary with keys: 
# name, terminal, ip, DOW, month, date, time_on, time_off, total 

# try a list comprehension
# https://www.python.org/dev/peps/pep-0274/


dict={"name": [arr[k][0] for k in range(1-len(arr))]}
#, "terminal":[], "ip":[], "DOW":[], "month":[],"date":[],"time_on":[],"time_off":[],"total":[]} 
dict["name"]

[]

In [ ]:
for i in range(1-len(arr)):
    dict["name"].append(arr[i][0])
    dict["terminal"].append(arr[i][1])
    dict["ip"].append(arr[i][2])
    dict["DOW"].append(arr[i][3])
    dict["month"].append(arr[i][4])
    dict["date"].append(arr[i][5])
    dict["time_on"].append(arr[i][6])
    dict["time_off"].append(arr[i][8])
    dict["total"].append(arr[i][9])

In [96]:
arr[0][1]
dict={"name":[], "terminal":[], "ip":[], "DOW":[], "month":[],"date":[],"time_on":[],"time_off":[],"total":[]} 
dict["name"].append("mara")
dict["name"].append("worle")
dict["name"]

['mara', 'worle']

In [ ]:
# I even thought about this!
cut -d" " -f1 data.dat > name.dat
cut -d" " -f2 data.dat > terminal.dat
cut -d" " -f3 data.dat > ip.dat
cut -d" " -f4,5,6 data.dat > date.dat
cut -d" " -f7,9 data.dat > time_on_off.dat
cut -d" " -f10 data.dat > total_time.dat

# Stats

In [5]:
last.std()

00.00    4.158048
dtype: float64

In [13]:
last.count()

00.00    187
dtype: int64

In [ ]:
x_data =[range(last.len)] 
y_data = [last.get_value(n,'1') for n in range(1,129)]  

fig = plt.figure(figsize=(10,6))
# create an axes obj
ax = fig.add_subplot(1,1,1)
# plot the data
ax.scatter(x_data, y_data, color="blue", marker="." ) 
# add axes labels
ax.set_xlabel("x")
ax.set_ylabel("y")

## Another Bash Munging

Cleaned the data some more
using cut to separate the fields

In [19]:
import pandas as pd
import numpy as np

time=pd.read_csv("/home/mragy/AkamaiAcademy/project/data/total_time.dat", sep=",", index_col=None)

In [20]:
# time

In [21]:
time.mean()*(5/3)

00.00    3.670657
dtype: float64

In [22]:
time.std()*(5/3)

00.00    2.629858
dtype: float64

In [23]:
time.max()

00.00    9.49
dtype: float64

In [24]:
time.min()

00.00    0.0
dtype: float64

## Matplotlib
http://cs.smith.edu/dftwiki/index.php/MatPlotLib_Tutorial_1

In [25]:
import matplotlib.pyplot as plt
import numpy as np

In [26]:
x_data = [range(len(time))] 
y_data = [time.get_value(n, "00.00") for n in range(len(time))]

In [27]:
y_data

[0.0,
 0.14000000000000001,
 0.16,
 3.0499999999999998,
 2.1499999999999999,
 2.1400000000000001,
 2.1600000000000001,
 2.1800000000000002,
 2.25,
 1.02,
 2.1099999999999999,
 3.1600000000000001,
 2.1299999999999999,
 2.29,
 2.2799999999999998,
 2.1699999999999999,
 2.3399999999999999,
 3.29,
 0.0,
 3.1099999999999999,
 0.57999999999999996,
 2.1800000000000002,
 2.2799999999999998,
 2.1299999999999999,
 2.3500000000000001,
 2.1699999999999999,
 2.1099999999999999,
 2.1800000000000002,
 2.1099999999999999,
 3.1299999999999999,
 3.3700000000000001,
 0.050000000000000003,
 2.3100000000000001,
 3.1800000000000002,
 2.2000000000000002,
 2.1099999999999999,
 3.1099999999999999,
 2.21,
 4.4800000000000004,
 2.2400000000000002,
 0.54000000000000004,
 4.2300000000000004,
 7.0700000000000003,
 2.1800000000000002,
 3.1099999999999999,
 5.1399999999999997,
 0.48999999999999999,
 3.25,
 8.1099999999999994,
 4.0999999999999996,
 0.32000000000000001,
 3.1099999999999999,
 3.1099999999999999,
 3.1099999999999999,
 2.1400000000000001,
 0.33000000000000002,
 0.029999999999999999,
 2.3700000000000001,
 0.02,
 2.2400000000000002,
 3.1899999999999999,
 3.1000000000000001,
 2.1099999999999999,
 0.089999999999999997,
 1.3400000000000001,
 0.52000000000000002,
 3.1099999999999999,
 0.34999999999999998,
 1.47,
 2.1699999999999999,
 2.21,
 0.01,
 2.2599999999999998,
 3.2599999999999998,
 5.1799999999999997,
 2.3999999999999999,
 0.10000000000000001,
 4.0999999999999996,
 2.1899999999999999,
 4.0599999999999996,
 2.2599999999999998,
 4.2599999999999998,
 5.3399999999999999,
 4.1100000000000003,
 2.48,
 2.1099999999999999,
 5.1100000000000003,
 0.040000000000000001,
 4.1100000000000003,
 1.1699999999999999,
 0.29999999999999999,
 1.47,
 4.2199999999999998,
 2.5299999999999998,
 1.04,
 2.1099999999999999,
 2.2200000000000002,
 0.16,
 2.2599999999999998,
 2.2799999999999998,
 2.2999999999999998,
 2.2999999999999998,
 2.3199999999999998,
 0.089999999999999997,
 2.1099999999999999,
 2.3700000000000001,
 3.1099999999999999,
 0.050000000000000003,
 0.02,
 2.3999999999999999,
 2.1400000000000001,
 3.1000000000000001,
 3.1000000000000001,
 3.1099999999999999,
 2.1600000000000001,
 2.1099999999999999,
 3.21,
 0.22,
 2.1099999999999999,
 2.1299999999999999,
 3.29,
 0.56999999999999995,
 2.1899999999999999,
 1.1299999999999999,
 5.1100000000000003,
 4.2199999999999998,
 0.14000000000000001,
 2.21,
 2.23,
 5.2800000000000002,
 3.1099999999999999,
 0.059999999999999998,
 2.1600000000000001,
 2.21,
 0.20000000000000001,
 0.17000000000000001,
 0.20000000000000001,
 2.21,
 2.4399999999999999,
 2.3500000000000001,
 2.3399999999999999,
 0.38,
 0.56000000000000005,
 2.1099999999999999,
 0.029999999999999999,
 2.1200000000000001,
 0.34999999999999998,
 2.4500000000000002,
 2.1499999999999999,
 2.1499999999999999,
 3.1099999999999999,
 3.1099999999999999,
 3.2799999999999998,
 3.1099999999999999,
 3.2799999999999998,
 0.040000000000000001,
 3.3199999999999998,
 3.3199999999999998,
 3.1099999999999999,
 3.3599999999999999,
 2.1400000000000001,
 1.3700000000000001,
 2.1099999999999999,
 1.26,
 3.1099999999999999,
 3.1200000000000001,
 2.3500000000000001,
 3.1200000000000001,
 2.4500000000000002,
 2.1899999999999999,
 3.1099999999999999,
 0.0,
 6.1100000000000003,
 4.0999999999999996,
 4.2000000000000002,
 2.5499999999999998,
 0.0,
 0.0,
 2.1099999999999999,
 3.1099999999999999,
 0.20000000000000001,
 7.1100000000000003,
 8.1500000000000004,
 2.1699999999999999,
 0.14999999999999999,
 0.12,
 5.1100000000000003,
 1.1599999999999999,
 0.28000000000000003,
 2.3900000000000001,
 0.51000000000000001,
 2.3799999999999999,
 2.1699999999999999,
 1.51,
 1.52,
 1.0800000000000001,
 4.1100000000000003,
 1.49,
 2.0099999999999998,
 1.3600000000000001,
 0.40999999999999998,
 0.46000000000000002,
 2.0600000000000001,
 2.1400000000000001,
 3.1899999999999999,
 4.3399999999999999,
 2.2799999999999998,
 0.02,
 2.0099999999999998,
 0.070000000000000007,
 2.0499999999999998,
 2.1600000000000001,
 2.2200000000000002,
 9.4900000000000002,
 0.16,
 2.4100000000000001,
 2.4199999999999999,
 0.37,
 2.5499999999999998,
 3.1400000000000001,
 0.22,
 8.1099999999999994,
 3.3999999999999999,
 2.1800000000000002,
 0.12,
 2.2400000000000002,
 3.1000000000000001,
 2.0,
 4.4000000000000004,
 4.4400000000000004,
 4.5,
 3.1000000000000001,
 0.5,
 3.1000000000000001,
 3.1000000000000001,
 0.45000000000000001,
 0.13,
 3.21,
 6.2300000000000004,
 5.0700000000000003,
 2.1099999999999999,
 5.0899999999999999,
 3.1000000000000001,
 5.1100000000000003,
 5.0999999999999996,
 0.059999999999999998,
 0.029999999999999999,
 0.11,
 2.29,
 2.2599999999999998,
 2.2799999999999998,
 0.55000000000000004,
 0.040000000000000001,
 2.2400000000000002,
 1.1200000000000001,
 1.3600000000000001,
 2.0,
 4.0,
 1.52,
 3.1000000000000001,
 0.01,
 3.2200000000000002,
 1.1299999999999999,
 2.3100000000000001,
 2.2400000000000002,
 3.2200000000000002,
 0.27000000000000002,
 2.1000000000000001,
 0.37,
 0.14000000000000001,
 4.1600000000000001,
 4.2199999999999998,
 0.55000000000000004,
 2.3199999999999998,
 0.37,
 1.26,
 2.2200000000000002,
 2.2799999999999998,
 2.1400000000000001,
 4.3899999999999997,
 2.1099999999999999,
 0.02,
 2.1499999999999999,
 2.1899999999999999,
 2.21,
 2.2200000000000002,
 2.2000000000000002,
 2.1899999999999999,
 3.1499999999999999,
 2.3799999999999999,
 3.1000000000000001,
 3.1000000000000001,
 3.1099999999999999,
 0.01,
 3.1099999999999999,
 3.1200000000000001,
 3.2400000000000002,
 3.0299999999999998,
 0.02,
 2.1200000000000001,
 3.1000000000000001,
 2.2799999999999998,
 2.1499999999999999,
 3.4100000000000001,
 1.5800000000000001,
 3.1099999999999999,
 2.1099999999999999,
 0.14000000000000001,
 0.01,
 0.0,
 0.0,
 2.1200000000000001,
 2.1099999999999999,
 2.21,
 0.070000000000000007,
 2.1299999999999999,
 0.050000000000000003,
 2.1099999999999999,
 0.01,
 2.1600000000000001,
 2.1099999999999999,
 0.20999999999999999,
 2.1899999999999999,
 2.3100000000000001,
 2.23,
 0.089999999999999997,
 2.1899999999999999,
 2.2200000000000002,
 0.080000000000000002,
 0.059999999999999998]

In [28]:
fig1 = plt.figure()
ax1=fig1.add_subplot(111)
ax1.boxplot(y_data)
plt.show()
#fileName = "/home/mragy/AkamaiAcademy/project/graphs/boxplot1.png"
#fig1.savefig(fileName, format="png")

In [29]:
fig2 = plt.figure()
ax2=fig2.add_subplot(111)
ax2.plot(y_data)
plt.show()
#fileName = "/home/mragy/AkamaiAcademy/project/graphs/plot1.png"
#fig2.savefig(fileName, format="png")

# PDF or Export Notebook
in order to make a pdf copy
sudo apt-get install pandoc
sudo apt-get install texlive-latex-base
or if that fails: just download as HTML and from the browser copy as pdf

## Python for Data Analysis

haven't given up on pandas :)

In [6]:
import pandas as pd
import numpy as np

In [7]:
data = pd.read_csv("/home/mragy/AkamaiAcademy/project/phase2/data/l9.dat", sep=" ",names=["name", 'terminal','ip', 'DOW','month', 'date', 'total_time'])

In [8]:
# corrects the replacement of ":" to "." in tr command

data['total_time']=data['total_time'].apply(lambda x : (np.floor(x)  + (x - np.floor(x))*(5/3)))

In [9]:
data.describe()

             date  total_time
count  331.000000  331.000000
mean    15.867069    2.330262
std      3.503311    1.586999
min     11.000000    0.000000
25%     12.000000    1.166667
50%     15.000000    2.316667
75%     19.000000    3.183333
max     27.000000    9.816667

In [11]:
data.groupby('name').total_time.sum()

name
mguser1     48.500000
mguser10    28.650000
mguser11    28.883333
mguser12    40.133333
mguser13    40.983333
mguser14    49.883333
mguser15    41.016667
mguser17    40.400000
mguser18    25.400000
mguser19    38.750000
mguser2     31.766667
mguser20    41.900000
mguser21    21.400000
mguser29    53.200000
mguser3     28.733333
mguser4     45.866667
mguser5     34.000000
mguser6     24.900000
mguser7     28.050000
mguser8     40.300000
mguser9     38.600000
Name: total_time, dtype: float64

In [12]:
data.groupby('name').total_time.max()

name
mguser1     8.183333
mguser10    3.183333
mguser11    6.183333
mguser12    3.433333
mguser13    4.733333
mguser14    8.250000
mguser15    4.366667
mguser17    4.433333
mguser18    4.666667
mguser19    9.816667
mguser2     4.383333
mguser20    5.300000
mguser21    4.183333
mguser29    8.183333
mguser3     4.183333
mguser4     5.183333
mguser5     5.183333
mguser6     3.300000
mguser7     3.666667
mguser8     5.150000
mguser9     4.183333
Name: total_time, dtype: float64

In [13]:
data.groupby('date').total_time.sum()

date
11     41.950000
12    119.300000
14    155.483333
15    134.666667
19    180.450000
20    123.383333
21     10.250000
25      5.333333
27      0.500000
Name: total_time, dtype: float64

In [14]:
data.groupby('DOW').total_time.sum()

DOW
Fri    134.666667
Mon     47.283333
Thu    165.733333
Tue    299.750000
Wed    123.883333
Name: total_time, dtype: float64

In [15]:
data.total_time.std()

1.586999412924601

In [16]:
users= data.sort_values(by='name')
users.index = range(1, len(users) + 1)

In [17]:
users.groupby('name').total_time.sum()

name
mguser1     48.500000
mguser10    28.650000
mguser11    28.883333
mguser12    40.133333
mguser13    40.983333
mguser14    49.883333
mguser15    41.016667
mguser17    40.400000
mguser18    25.400000
mguser19    38.750000
mguser2     31.766667
mguser20    41.900000
mguser21    21.400000
mguser29    53.200000
mguser3     28.733333
mguser4     45.866667
mguser5     34.000000
mguser6     24.900000
mguser7     28.050000
mguser8     40.300000
mguser9     38.600000
Name: total_time, dtype: float64

In [18]:
users = users.sort('name')

/home/mragy/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [19]:
time = data.sort_values(by='date')

In [11]:
import matplotlib .pyplot as plt

In [21]:
fig = plt.figure()

ax1=fig.add_subplot(2,2,1)
ax2=fig.add_subplot(2,2,2)
ax3=fig.add_subplot(2,2,3)
ax4=fig.add_subplot(2,2,4)

ax1.set_title("Historical Total Time")
ax1.set_xlabel('total_time')
ax1.plot(data.total_time)

ax2.set_title('Total Time by Index')
ax2.set_xlabel('name')
ax2.set_ylabel('Total Time CumSum')
ax2.plot(data.groupby('name').total_time.cumsum())

ax3.set_title('Historical Total Time')
ax3.set_xlabel('total_time')
ax3.hist(data.total_time, bins=10)

ax4.set_title("Total TIme vs Date")
ax4.set_xlabel('date')
ax4.set_ylabel('total time')
ax4.scatter(data.date, data.total_time)
plt.show()

In [108]:
plt
plt.show()

# Munge who command
cat who.txt | tr -s " " > w1.dat
sed '/root/d' w1.dat > w2.dat
cat w2.dat | tr "-" " " > w3.dat
cat w3.dat | cut -d" " -f1,2,4,5,6,7 > w4.dat

In [22]:
who = pd.read_csv("/home/mragy/AkamaiAcademy/project/data/phase2/who.dat", sep=" ",names=["name", 'terminal','month', 'date', 'total_time', 'ip'])

OSError: File b'/home/mragy/AkamaiAcademy/project/data/phase2/who.dat' does not exist

In [ ]:
# corrects replacement of ":" to "." in tr command

who['total_time']=who['total_time'].apply(lambda x : (np.floor(x) + (x - np.floor(x))*(5/3)))

In [ ]:
who.describe()

In [ ]:
who.groupby('name').total_time.max()

In [ ]:
fig = plt.figure()
ax = fig.add_subplot(1,1,1)

ax.set_title('Current Users\' Time vs Historical Time')
#ax.set_xlabel('Users')
#ax.set_ylabel('Time in Hours')
#ax.plot(data.total_time)
#ax.plot(who.total_time, color='r')
# this plot is confusing. change to boxplot

ax.set_xlabel('Time in Hours')
data['total_time'].plot(kind='box', color='b', label='Historical')
who['total_time'].plot(kind='box', color='r',label='Current')
#ax.legend()

#plt.show()
#save to file instead for longterm
plt.savefig('/home/mragy/AkamaiAcademy/project/graphs/box_current_vs_historical.pdf')

In [ ]:
# what do I actually want to visualize here? 
# each use's individual current aggregate time against the historical spread
data.groupby('name').total_time.sum()

## End Phase2: Entering Phase2a

In [12]:
import pandas as pd
import numpy as np
import matplotlib .pyplot as plt

In [13]:
data = pd.read_csv("/home/mragy/AkamaiAcademy/project/phase2/data/l9.dat", sep=" ",
                   names=["name", 'terminal','ip', 'DOW','month', 'date', 'total_time'])

In [14]:
data['total_time']=data['total_time'].apply(lambda x : (np.floor(x)  + (x - np.floor(x))*(5/3)))

In [15]:
who = pd.read_csv("/home/mragy/AkamaiAcademy/project/phase2/data/who.dat", sep=" ",
                  names=["name", 'terminal','month', 'date', 'total_time', 'ip'])

In [16]:
who['total_time']

0    7.52
1    8.17
2    8.09
3    7.58
4    8.03
5    8.04
Name: total_time, dtype: float64

In [17]:
who['total_time']=who['total_time'].apply(lambda x : (np.floor(x) + (x - np.floor(x))*(5/3)))

In [34]:
who['total_time']

0    7.866667
1    8.283333
2    8.150000
3    7.966667
4    8.050000
5    8.066667
Name: total_time, dtype: float64

# # Time Series Exploration
may need to import seaborn

In [120]:
import seaborn as sns

ImportError: No module named 'seaborn'

In [19]:
time = data.sort_values(by='date')

In [20]:
who_time = who.sort_values(by='date')

In [21]:
fig = plt.figure()

ax1=fig.add_subplot(2,2,1)
ax2=fig.add_subplot(2,2,2)
ax3=fig.add_subplot(2,2,3)
ax4=fig.add_subplot(2,2,4)

ax1.set_title("Historical Total Time")
ax1.set_xlabel('total_time')
ax1.plot(time.total_time)

ax2.set_title('Time by Index')
ax2.set_xlabel('name')
ax2.set_ylabel('Total Time CumSum')
ax2.plot(data.groupby('name').total_time.cumsum())

ax3.set_title('Total Time')
ax3.set_xlabel('total_time')
ax3.hist(time.total_time, bins=10)

ax4.set_title("Total TIme vs Date")
ax4.set_xlabel('date')
ax4.set_ylabel('total time')
ax4.scatter(time.date, time.total_time)
ax4.scatter(who_time.date, who_time.total_time, color='r')
plt.show()

In [22]:
fig = plt.figure()

ax1=fig.add_subplot(2,2,1)
ax2=fig.add_subplot(2,2,2)
ax3=fig.add_subplot(2,2,3)
ax4=fig.add_subplot(2,2,4)

ax1.set_title("Historical Total Time")
ax1.set_xlabel('total_time')
ax1.plot(time.total_time)

ax2.set_title('Time by Index')
ax2.set_xlabel('name')
ax2.set_ylabel('Total Time CumSum')
ax2.plot(data.groupby('name').total_time.cumsum())

ax3.set_title('Total Time')
ax3.set_xlabel('total_time')
ax3.hist(data.total_time, bins=10)

ax4.set_title("Total TIme vs Date")
ax4.set_xlabel('date')
ax4.set_ylabel('total time')
ax4.scatter(data.date, data.total_time)
ax4.scatter(who_time.date, who_time.total_time, color='r')
plt.show()